<br />

<div class="booyah-box col-10 offset-1">
  <h1><%= current_lesson.title %></h1>
  <%= image_tag current_lesson.image_url, class: 'img-fluid' if current_lesson.image? %>
  <p>
    <%= current_lesson.subtitle %>
  </p>
</div>